@using System.Threading.Tasks
@using GctgsWeb.Models
@using Microsoft.Extensions.Caching.Memory
@model IEnumerable<GctgsWeb.Models.BoardGame>
@inject IMemoryCache MemoryCache

@{
    ViewBag.Title = "Board Games";
}

<h2>Board Games</h2>

<p>
    <a href="/boardgames/create" class="btn btn-success">Create New</a>
</p>

<table class="table">
    <tr>
        <th></th>
        <th>Name</th>
        <th>Owner</th>
        <th>Location</th>
        <th>Rating</th>
    </tr>

    @{
        foreach (var item in Model)
        {
            var details = await item.BggDetails(MemoryCache);
            <tr style="@(User.Identity.Name == item.Owner.Crsid ? "font-weight: bold" : "")">
                <td>
                    <a href="/boardgames/@item.Id"><img src="@details.ThumbnailUrl" /></a>
</td>
                <td>
                    <a href="/boardgames/@item.Id">@item.Name</a>
                </td>
                <td>
                    <a href="/boardgames/owners/@item.Owner.Crsid">@item.Owner.Name</a>
                </td>
                <td>
                    <a href="/boardgames/locations/@item.Location">@item.Location</a>
                </td>
                <td>
                    @details.Rating
                </td>
            </tr>
        }

    }
       
</table>