@using System.Threading.Tasks
@using GctgsWeb.Models
@using Microsoft.Extensions.Caching.Memory
@model IEnumerable<GctgsWeb.Models.BoardGame>
@inject IMemoryCache MemoryCache

@{
    ViewBag.Title = "Board Games";
}

<h2>Board Games</h2>

<p>
    <a asp-controller="BoardGames" asp-action="Create" class="btn btn-success">Create New</a>
</p>

<table class="table">
    <tr>
        <th></th>
        <th>Name</th>
        <th>Owner</th>
        <th>Location</th>
        <th>Rating</th>
        <th></th>
    </tr>

    @{
        foreach (var item in Model)
        {
            var details = await item.GetBggDetails(MemoryCache);
            <tr style="@(User.Identity.Name == item.Owner.Crsid ? "font-weight: bold" : "")">
                <td>
                    <a asp-controller="BoardGames" asp-action="BoardGame" asp-route-id="@item.Id"><img src="@details.ThumbnailUrl" /></a>
                </td>
                <td>
                    <a asp-controller="BoardGames" asp-action="BoardGame" asp-route-id="@item.Id">@item.Name</a>
                </td>
                <td>
                    <a asp-controller="BoardGames" asp-action="Owners" asp-route-owner="@item.Owner.Crsid">@item.Owner.Name</a>
                </td>
                <td>
                    <a asp-controller="BoardGames" asp-action="Locations" asp-route-location="@item.Location">@item.Location</a>
                </td>
                <td>
                    @details.Rating
                </td>
                <td>
                    @if (User.Identity.Name != item.Owner.Crsid)
                    {
                        <a href="#" class="request btn btn-primary" data-board-game-id="@item.Id">Request</a>
                    }
                </td>
            </tr>
        }

    }
       
</table>