@using System.Threading.Tasks
@using GctgsWeb.Models
@using Microsoft.Extensions.Caching.Memory
@model IEnumerable<GctgsWeb.Models.BoardGame>
@inject IMemoryCache MemoryCache

@{
    ViewBag.Title = "Board Games";
}

<h2>Board Games</h2>

<p>
    <a asp-controller="BoardGames" asp-action="Create">Create New</a>
</p>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Owner</th>
        <th>Location</th>
        <th>Rating</th>
        <th>Picture</th>
    </tr>

    @{
        foreach (var item in Model)
        {
            var details = await item.BggDetails(MemoryCache);
            <tr>
                <td>
                    <a href="/boardgames/@item.Id">@item.Name</a>
                </td>
                <td>
                    <a href="/boardgames/owners/@item.Owner.Crsid">@item.Owner.Name</a>
                </td>
                <td>
                    <a href="/boardgames/locations/@item.Location">@item.Location</a>
                </td>
                <td>
                    @details.Rating
                </td>
                <td>
                    <img src="@details.ThumbnailUrl"/>
                </td>
            </tr>
        }

    }
       
</table>